@import "../../../variables.scss";

.jobdescriptionbanner-container {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    @include rowflex(center,center);

    .jobdescriptionbanner-inner-container {
    width: 80%;
    height: 100%;
    @include colflex(center, space-between);

        .top {
            width: 80%;
            @include colflex(center,baseline);             
            height: fit-content;
            span {
                width: 70%;
                @include rowflex(center,center);
                margin:0;
                height: fit-content;
                p:nth-child(1) {
                    @include fontBlack(3.25em,1.3em, $vesti-901);
                }
                strong {
                    color: $vesti-700;
                }
                @include breakpoint(mobileonly) {
                    width: 80%;
                }
            }
            p:nth-child(2) {
                width: 60%;
                margin: 0;
                text-align: center;
                margin-bottom: 2rem;
                @include fontNormal(1.2em,1.5em, $vesti-902);
            }

            .apply__button__container{
                @include colflexx(center);
                .apply__button{
                    background-color: $vesti-700;
                    width: 20rem;
                    height: 50px;
                    border: none !important;
                    border-radius: 10px !important;
                    cursor: pointer;
                    @include fontMedium(1.2em, 0.7em, #fff);    
                    @include rowflex(center,center);
                    transition: all 0.3s ease;
                    &:hover{
                        background: $vesti-900;
                    }
                }
            }
        }

        .bottom {
            width: 100%;
            @include rowflexx(flex-start);
            margin-top: 5rem;
            gap: 2rem;
            
    
            .bottom-left{
                width: 50%;
                a:nth-child(1) {
                    @include fontSemiBold(1.3em,1.6em, $vesti-700);
                }
                p:nth-child(2) {
                    @include fontSemiBold(1.5em,1.3em, $vesti-700);
                    margin-top: 2rem;
                }
                p:nth-child(3) {
                    @include fontNormal(1.25em,1.5em, $vesti-901);
                }
                p:nth-child(4) {
                    margin-top: 2rem;
                    @include fontSemiBold(1.5em,1.5em, $vesti-700);
                }
                p:nth-child(5) {
                    @include fontNormal(1.25em,1.5em, $vesti-901);
                }
                p:nth-child(6) {
                    margin-top: 2rem;
                    @include fontSemiBold(1.5em,1.5em, $vesti-700);
                }
                ul:nth-child(7) {
                    margin-top: 2rem;
                    @include fontNormal(1.25em,1.5em, $vesti-902);
                }
                p:nth-child(8) {
                    @include fontSemiBold(1.5em,1.5em, $vesti-700);
                }
                ul:nth-child(9) {
                    @include fontNormal(1.25em,1.5em, $vesti-902);
                }
                
            }
            .bottom-right{
                width: 50%;
                .bottom-right-upper{
                    background-color: $vesti-100;
                    border: 1px solid $vesti-700;
                    margin-left: 8rem;
                    padding: 30px;
                    border-radius: 10px;
                    text-align: center;
                    width: 75%;
                    p:nth-child(1) {
                        @include fontSemiBold(1.8em,1.3em, $vesti-700);
                    }
                    p:nth-child(2) {
                        @include fontNormal(1.25em,1.3em, $vesti-900);
                    }
                    .card-apply__button__container{
                        @include colflexx(center);
                        // margin-bottom: 10rem; 
                        .card-apply__button{
                            background-color: $vesti-700;
                            width: 15rem;
                            height: 50px;
                            border: none !important;
                            border-radius: 10px !important;
                            cursor: pointer;
                            @include fontMedium(1.2em, 0.7em, #fff);    
                            @include rowflex(center,center);
                            transition: all 0.3s ease;
                            &:hover{
                                background: $vesti-900;
                            }
                        }
                    }
                }
            }
        }

        .top-reverse {
            width: 80%;
            @include colflex(center,baseline);             
            height: fit-content;
            span {
                width: 70%;
                @include rowflex(center,center);
                margin:0;
                height: fit-content;
                p:nth-child(1) {
                    @include fontBlack(3.25em,1.3em, $vesti-901);
                }
                strong {
                    color: $vesti-700;
                }
                @include breakpoint(mobileonly) {
                    width: 80%;
                }
            }
            p:nth-child(2) {
                width: 60%;
                margin: 0;
                text-align: center;
                margin-bottom: 2rem;
                @include fontNormal(1.2em,1.5em, $vesti-902);
            }

            .apply__button__container{
                @include colflexx(center);
                margin-bottom: 5rem;
                .apply__button{
                    background-color: $vesti-700;
                    width: 20rem;
                    height: 50px;
                    border: none !important;
                    border-radius: 10px !important;
                    cursor: pointer;
                    @include fontMedium(1.2em, 0.7em, #fff);    
                    @include rowflex(center,center);
                    transition: all 0.3s ease;
                    &:hover{
                        background: $vesti-900;
                    }
                }
            }
        }
    }
    
}
@media only screen and (min-width: 320px) and (max-width: 600px)  {
    .jobdescriptionbanner-container {
        width: 100%;
        height: fit-content;
        @include colflex(center,center);
    
        .jobdescriptionbanner-inner-container {
            width: 90%;
            height: 80%;
            @include colflex(center, space-between);
    
            .top {
                width: 100%;
                height: fit-content;
                margin-left: 0; 
                margin: 0 auto;
                span {
                    width: 80%;
                    @include colflex(center,center);
                    margin:0 auto;
                    height: fit-content;
                    p:nth-child(1) {
                        @include fontBlack(1.5em,1.4em, $vesti-901);
                    }
                    strong {
                        color: $vesti-700;
                    }
                }
                p:nth-child(2) {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 30px;
                    @include fontNormal(1em,1.5em, $vesti-901);
                }
            }
    
            .bottom {
                width: 100% !important;
                margin-top: 0;
                @include colflexxx(center);

                .bottom-left{
                    width: 100%;
                    
                    a:nth-child(1) {
                        @include fontSemiBold(1.3em,1.6em, $vesti-700);
                    }
                    p:nth-child(2) {
                        @include fontSemiBold(1.5em,1.3em, $vesti-700);
                        margin-top: 2rem;
                    }
                    p:nth-child(3) {
                        @include fontNormal(1.25em,1.5em, $vesti-901);
                    }
                    p:nth-child(4) {
                        margin-top: 2rem;
                        @include fontSemiBold(1.5em,1.5em, $vesti-700);
                    }
                    p:nth-child(5) {
                        @include fontNormal(1.25em,1.5em, $vesti-901);
                    }
                    p:nth-child(6) {
                        margin-top: 2rem;
                        @include fontSemiBold(1.5em,1.5em, $vesti-700);
                    }
                    ul:nth-child(7) {
                        margin-top: 2rem;
                        @include fontNormal(1.25em,1.5em, $vesti-902);
                    }
                    p:nth-child(8) {
                        @include fontSemiBold(1.5em,1.5em, $vesti-700);
                    }
                    ul:nth-child(9) {
                        @include fontNormal(1.25em,1.5em, $vesti-902);
                    }
                    
                }
                .bottom-right{
                    width: 100%;
                    .bottom-right-upper{
                        background-color: $vesti-100;
                        border: 1px solid $vesti-700;
                        padding: 30px;
                        border-radius: 10px;
                        text-align: center;
                        width: 100%;
                        margin-left: 0;
                        p:nth-child(1) {
                            @include fontSemiBold(1.8em,1.3em, $vesti-700);
                        }
                        p:nth-child(2) {
                            @include fontNormal(1.25em,1.3em, $vesti-900);
                        }
                        .card-apply__button__container{
                            @include colflexx(center);
                            // margin-bottom: 10rem;
                            .card-apply__button{
                                background-color: $vesti-700;
                                width: 10rem;
                                height: 50px;
                                border: none !important;
                                border-radius: 10px !important;
                                cursor: pointer;
                                @include fontMedium(1.2em, 0.7em, #fff);    
                                @include rowflex(center,center);
                                transition: all 0.3s ease;
                                &:hover{
                                    background: $vesti-900;
                                }
                            }
                        }
                    }
                }


            }

            .top-reverse {
                width: 100%;
                height: fit-content;
                margin-left: 0; 
                margin: 0 auto;
                span {
                    width: 80%;
                    @include colflex(center,center);
                    margin:0 auto;
                    height: fit-content;
                    p:nth-child(1) {
                        @include fontBlack(1.5em,1.4em, $vesti-901);
                    }
                    strong {
                        color: $vesti-700;
                    }
                }
                p:nth-child(2) {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 30px;
                    @include fontNormal(1em,1.5em, $vesti-901);
                }
                .apply__button__container{
                    @include colflexx(center);

                    .apply__button{
                        width: 12rem;
                    }
                }
            }
            
        }
    }
    
}
@media (min-width: 600px) and (max-width: 800px){
    .jobdescriptionbanner-container {
        width: 100%;
        height: fit-content;
        @include colflex(center,center);
    
        .jobdescriptionbanner-inner-container {
            width: 90%;
            height: 80%;
            @include colflex(center, space-between);
    
            .top {
                width: 100%;
                height: fit-content;
                margin-left: 0; 
                margin: 0 auto;
                span {
                    width: 80%;
                    @include colflex(center,center);
                    margin:0 auto;
                    height: fit-content;
                    p:nth-child(1) {
                        @include fontBlack(1.85em,1.4em, $vesti-901);
                    }
                    strong {
                        color: $vesti-700;
                    }
                }
                p:nth-child(2) {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 30px;
                    @include fontNormal(1em,1.5em, $vesti-901);
                }
            }
    
            .bottom {
                width: 100% !important;
                margin-top: 0;
                @include colflexxx(center);

                .bottom-left{
                    width: 100%;
                    a:nth-child(1) {
                        @include fontSemiBold(1.3em,1.6em, $vesti-700);
                    }
                    p:nth-child(2) {
                        @include fontSemiBold(1.5em,1.3em, $vesti-700);
                        margin-top: 2rem;
                    }
                    p:nth-child(3) {
                        @include fontNormal(1.25em,1.5em, $vesti-901);
                    }
                    p:nth-child(4) {
                        margin-top: 2rem;
                        @include fontSemiBold(1.5em,1.5em, $vesti-700);
                    }
                    p:nth-child(5) {
                        @include fontNormal(1.25em,1.5em, $vesti-901);
                    }
                    p:nth-child(6) {
                        margin-top: 2rem;
                        @include fontSemiBold(1.5em,1.5em, $vesti-700);
                    }
                    ul:nth-child(7) {
                        margin-top: 2rem;
                        @include fontNormal(1.25em,1.5em, $vesti-902);
                    }
                    p:nth-child(8) {
                        @include fontSemiBold(1.5em,1.5em, $vesti-700);
                    }
                    ul:nth-child(9) {
                        @include fontNormal(1.25em,1.5em, $vesti-902);
                    }
                    
                }
                .bottom-right{
                    width: 100%;
                    .bottom-right-upper{
                        background-color: $vesti-100;
                        border: 1px solid $vesti-700;
                        padding: 30px;
                        border-radius: 10px;
                        text-align: center;
                        width: 100%;
                        margin-left: 0;
                        p:nth-child(1) {
                            @include fontSemiBold(1.8em,1.3em, $vesti-700);
                        }
                        p:nth-child(2) {
                            @include fontNormal(1.25em,1.3em, $vesti-900);
                        }
                        .card-apply__button__container{
                            @include colflexx(center);
                            // margin-bottom: 10rem;
                            .card-apply__button{
                                background-color: $vesti-700;
                                width: 10rem;
                                height: 50px;
                                border: none !important;
                                border-radius: 10px !important;
                                cursor: pointer;
                                @include fontMedium(1.2em, 0.7em, #fff);    
                                @include rowflex(center,center);
                                transition: all 0.3s ease;
                                &:hover{
                                    background: $vesti-900;
                                }
                            }
                        }
                    }
                }


            }
            
            .top-reverse {
                width: 100%;
                height: fit-content;
                margin-left: 0; 
                margin: 0 auto;
                span {
                    width: 80%;
                    @include colflex(center,center);
                    margin:0 auto;
                    height: fit-content;
                    p:nth-child(1) {
                        @include fontBlack(1.5em,1.4em, $vesti-901);
                    }
                    strong {
                        color: $vesti-700;
                    }
                }
                p:nth-child(2) {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 30px;
                    @include fontNormal(1em,1.5em, $vesti-901);
                }
            }
    
            
        }
    }
}
@media (min-width: 800px) and (max-width: 1224px){
    .jobdescriptionbanner-container {
        width: 100%;
        height: 100%;
        margin-top: 5rem;
        @include rowflex(center,center);
    
        .jobdescriptionbanner-inner-container {
        width: 80%;
        height: 100%;
        @include colflex(center, space-between);
    
            .top {
                width: 80%;
                @include colflex(center,baseline);             
                height: fit-content;
                span {
                    width: 70%;
                    @include rowflex(center,center);
                    margin:0;
                    height: fit-content;
                    p:nth-child(1) {
                        @include fontBlack(3.25em,1.3em, $vesti-901);
                    }
                    strong {
                        color: $vesti-700;
                    }
                    @include breakpoint(mobileonly) {
                        width: 80%;
                    }
                }
                p:nth-child(2) {
                    width: 60%;
                    margin: 0;
                    text-align: center;
                    margin-bottom: 2rem;
                    @include fontNormal(1.2em,1.5em, $vesti-902);
                }
            }
    
            .bottom {
                width: 100%;
                @include rowflexx(flex-start);
                margin-top: 5rem;
                gap: 2rem;
                
        
                .bottom-left{
                    width: 50%;
                    a:nth-child(1) {
                        @include fontSemiBold(1.3em,1.6em, $vesti-700);
                    }
                    p:nth-child(2) {
                        @include fontSemiBold(1.5em,1.3em, $vesti-700);
                        margin-top: 2rem;
                    }
                    p:nth-child(3) {
                        @include fontNormal(1.25em,1.5em, $vesti-901);
                    }
                    p:nth-child(4) {
                        margin-top: 2rem;
                        @include fontSemiBold(1.5em,1.5em, $vesti-700);
                    }
                    p:nth-child(5) {
                        @include fontNormal(1.25em,1.5em, $vesti-901);
                    }
                    p:nth-child(6) {
                        margin-top: 2rem;
                        @include fontSemiBold(1.5em,1.5em, $vesti-700);
                    }
                    ul:nth-child(7) {
                        margin-top: 2rem;
                        @include fontNormal(1.25em,1.5em, $vesti-902);
                    }
                    p:nth-child(8) {
                        @include fontSemiBold(1.5em,1.5em, $vesti-700);
                    }
                    ul:nth-child(9) {
                        @include fontNormal(1.25em,1.5em, $vesti-902);
                    }
                    
                }
                .bottom-right{
                    width: 50%;
                    .bottom-right-upper{
                        background-color: $vesti-100;
                        border: 1px solid $vesti-700;
                        padding: 30px;
                        border-radius: 10px;
                        text-align: center;
                        width: 75%;
                        margin-left: 7rem;
                        p:nth-child(1) {
                            @include fontSemiBold(1.8em,1.3em, $vesti-700);
                        }
                        p:nth-child(2) {
                            @include fontNormal(1.25em,1.3em, $vesti-900);
                        }
                        .card-apply__button__container{
                            @include colflexx(center);
                            .card-apply__button{
                                background-color: $vesti-700;
                                width: 10rem;
                                height: 50px;
                                border: none !important;
                                border-radius: 10px !important;
                                cursor: pointer;
                                @include fontMedium(1.2em, 0.7em, #fff);    
                                @include rowflex(center,center);
                                transition: all 0.3s ease;
                                &:hover{
                                    background: $vesti-900;
                                }
                            }
                        }
                    }
                }
            }

            .top-reverse {
                width: 80%;
                @include colflex(center,baseline);             
                height: fit-content;
                span {
                    width: 100%;
                    @include rowflex(center,center);
                    margin:0;
                    height: fit-content;
                    p:nth-child(1) {
                        @include fontBlack(3.25em,1.3em, $vesti-901);
                    }
                    strong {
                        color: $vesti-700;
                    }
                    @include breakpoint(mobileonly) {
                        width: 80%;
                    }
                }
                p:nth-child(2) {
                    width: 60%;
                    margin: 0;
                    text-align: center;
                    margin-bottom: 2rem;
                    @include fontNormal(1.2em,1.5em, $vesti-902);
                }
                .apply__button__container{
                    @include colflexx(center);
                    margin-bottom: 5rem;
                    .apply__button{
                        background-color: $vesti-700;
                        width: 20rem;
                        height: 50px;
                        border: none !important;
                        border-radius: 10px !important;
                        cursor: pointer;
                        @include fontMedium(1.2em, 0.7em, #fff);    
                        @include rowflex(center,center);
                        transition: all 0.3s ease;
                        &:hover{
                            background: $vesti-900;
                        }
                    }
                }
                
            }
        }
        
    }
}