@import "../../variables.scss";
.referal {
    width: fit-content;
    &__inner {
        width: fit-content;
        @include colflexx(flex-start);

        &__title{
            margin: 0;
            @include fontBold(1.5em, 1em, $vesti-700);
            
            @include breakpoint(mobileonly){
                @include fontBold(1.2em, 1em, $vesti-700);
                
            }
        }

        &__link{
            margin-top: 20px;
            width: 100%;
            padding: 15px 15px 15px 15px;
            border-radius: 5px;
            border: 1px dashed $yellow-700;
            background-color: $yellow-100;
            transition: all 0.5s ease;
            text-align: center;
            @include rowflex(center,center);

            white-space: pre !important;
            @include fontNormal(1.5em, 1.2em, $yellow-800);
            @include breakpoint(mobileonly){
                @include fontNormal(1.2em, 1.2em, $yellow-800);
            }
            @include breakpoint(phablet){
                @include fontNormal(1.2em, 1.2em, $yellow-800);

            }

            &.copied{
                border: 1px dashed $vesti-700;
                background-color: $vesti-100;

                @include fontNormal(1.5em, 1.4em, $vesti-700);

                @include breakpoint(mobileonly){
                    @include fontNormal(1.2em, 1.2em, $vesti-700);
                }
                @include breakpoint(phablet){
                    @include fontNormal(1.2em, 1.2em, $vesti-700);
                }
            }
        }
        &__copied{
            @include fontNormal(1em, 1em, $green-700);
        }

        &__extra {
            @include fontNormal(1.1em, 1.7em, $vesti-901);

            strong {
                color: $vesti-700;
                font-weight: 600;
            }
        }
        .referal-info{
            @include rowflexx(center);
            @include fontNormal(1em, 1em, $yellow-800);

            img {
                width: auto;
                margin-right: 10px;
                filter: invert(73%) sepia(93%) saturate(313%) hue-rotate(354deg) brightness(96%) contrast(97%);
            }
        }
    }
}