@import "../../../variables.scss";

.careerstop-container {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    @include rowflex(center,center);

    .careerstop-inner-container {
    width: 80%;
    height: 100%;
    @include colflex(center, space-between);

        .top {
            width: 80%;
            @include colflex(center,baseline);             
            height: fit-content;
            span {
                width: 70%;
                @include rowflex(center,center);
                margin:0;
                height: fit-content;
                p:nth-child(1) {
                    @include fontBlack(3.25em,1.3em, $vesti-901);
                }
                strong {
                    color: $vesti-700;
                }
                @include breakpoint(mobileonly) {
                    width: 80%;
                }
            }
            p:nth-child(2) {
                width: 60%;
                margin: 0;
                text-align: center;
                margin-bottom: 2rem;
                @include fontNormal(1.2em,1.5em, $vesti-902);
            }
        }

        .bottom {
            width: 100%;
            @include rowflexx(flex-start);
            margin-top: 5rem;
            gap: 2rem;
            
    
            .bottom-left{
                width: 50%;
                p:nth-child(1) {
                    @include fontMedium(1.35em,1.5em, $vesti-902);
                }
                .founders{
                    @include rowflex(flex-start, flex-start);
                    gap: 2.5rem;
                    .single-founder a {
                        @include fontMedium(1.5em,1.5em, $vesti-700); 
                    }
                }
            }
            .bottom-right{
                width: 50%;
                p:nth-child(1) {
                    @include fontSemiBold(1.25em,1.3em, $vesti-700);
                }
                p:nth-child(2) {
                    @include fontNormal(1.25em,1.3em, $vesti-700);
                }
                p:nth-child(3) {
                    @include fontSemiBold(1.25em,1.3em, $vesti-700);
                }
                p:nth-child(4) {
                    @include fontNormal(1.25em,1.3em, $vesti-700);
                }
            }
        }
    }
    
}
@media only screen and (min-width: 320px) and (max-width: 600px)  {
    .careerstop-container {
        width: 100%;
        height: fit-content;
        @include colflex(center,center);
    
        .careerstop-inner-container {
            width: 90%;
            height: 80%;
            @include colflex(center, space-between);
    
            .top {
                width: 100%;
                height: fit-content;
                margin-left: 0; 
                margin: 0 auto;
                span {
                    width: 80%;
                    @include colflex(center,center);
                    margin:0 auto;
                    height: fit-content;
                    p:nth-child(1) {
                        @include fontBlack(1.5em,1.4em, $vesti-901);
                    }
                    strong {
                        color: $vesti-700;
                    }
                }
                p:nth-child(2) {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 30px;
                    @include fontNormal(1em,1.5em, $vesti-901);
                }
            }
    
            .bottom {
                width: 100% !important;
                margin-top: 0;
                @include colflexx(center);

                .bottom-left{
                    width: 100%;
                    p:nth-child(1) {
                        margin-top: 1.5rem;
                        @include fontMedium(1em,1.5em, $vesti-902);
                    }
                    .founders{
                        @include rowflex(flex-start, space-between);
                        gap: 2.5rem;
                        .single-founder a {
                            @include fontMedium(1.1em,1.5em, $vesti-700); 
                        }
                    }
                }
                .bottom-right{
                    width: 100%;
                    p:nth-child(1) {
                        text-align: center;
                        @include fontSemiBold(1.25em,1.3em, $vesti-700);
                    }
                    p:nth-child(2) {
                        @include fontNormal(1.1em,1.3em, $vesti-700);
                    }
                    p:nth-child(3) {
                        text-align: center;
                        @include fontSemiBold(1.25em,1.3em, $vesti-700);
                    }
                    p:nth-child(4) {
                        @include fontNormal(1.1em,1.3em, $vesti-700);
                    }
                }


            }
            
        }
    }
    
}
@media (min-width: 600px) and (max-width: 800px){
    .careerstop-container {
        width: 100%;
        height: fit-content;
        @include colflex(center,center);
    
        .careerstop-inner-container {
            width: 90%;
            height: 80%;
            @include colflex(center, space-between);
    
            .top {
                width: 100%;
                height: fit-content;
                margin-left: 0; 
                margin: 0 auto;
                span {
                    width: 80%;
                    @include colflex(center,center);
                    margin:0 auto;
                    height: fit-content;
                    p:nth-child(1) {
                        @include fontBlack(1.5em,1.4em, $vesti-901);
                    }
                    strong {
                        color: $vesti-700;
                    }
                }
                p:nth-child(2) {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 30px;
                    @include fontNormal(1em,1.5em, $vesti-901);
                }
            }
    
            .bottom {
                width: 100% !important;
                margin-top: 0;
                @include colflexx(center);

                .bottom-left{
                    width: 100%;
                    p:nth-child(1) {
                        margin-top: 1.5rem;
                        @include fontMedium(1.3em,1.5em, $vesti-902);
                    }
                    .founders{
                        @include rowflex(flex-start, flex-start);
                        gap: 2.5rem;
                        .single-founder a {
                            @include fontMedium(1.3em,1.5em, $vesti-700); 
                        }
                    }
                }
                .bottom-right{
                    width: 100%;
                    p:nth-child(1) {
                        text-align: center;
                        @include fontSemiBold(1.5em,1.3em, $vesti-700);
                    }
                    p:nth-child(2) {
                        @include fontNormal(1.35em,1.3em, $vesti-700);
                    }
                    p:nth-child(3) {
                        text-align: center;
                        @include fontSemiBold(1.5em,1.3em, $vesti-700);
                    }
                    p:nth-child(4) {
                        @include fontNormal(1.35em,1.3em, $vesti-700);
                    }
                }


            }
            
        }
    }
}
@media (min-width: 800px) and (max-width: 1224px){
    .careerstop-container {
        width: 100%;
        height: 100%;
        margin-top: 5rem;
        @include rowflex(center,center);
    
        .careerstop-inner-container {
        width: 80%;
        height: 100%;
        @include colflex(center, space-between);
    
            .top {
                width: 80%;
                @include colflex(center,baseline);             
                height: fit-content;
                span {
                    width: 70%;
                    @include rowflex(center,center);
                    margin:0;
                    height: fit-content;
                    p:nth-child(1) {
                        @include fontBlack(3.25em,1.3em, $vesti-901);
                    }
                    strong {
                        color: $vesti-700;
                    }
                    @include breakpoint(mobileonly) {
                        width: 80%;
                    }
                }
                p:nth-child(2) {
                    width: 60%;
                    margin: 0;
                    text-align: center;
                    margin-bottom: 2rem;
                    @include fontNormal(1.2em,1.5em, $vesti-902);
                }
            }
    
            .bottom {
                width: 100%;
                @include rowflexx(flex-start);
                margin-top: 5rem;
                gap: 2rem;
                
        
                .bottom-left{
                    width: 50%;
                    p:nth-child(1) {
                        @include fontMedium(1.35em,1.5em, $vesti-902);
                    }
                    .founders{
                        @include rowflex(flex-start, flex-start);
                        gap: 2.5rem;
                        .single-founder a {
                            @include fontMedium(1.5em,1.5em, $vesti-700); 
                        }
                    }
                }
                .bottom-right{
                    width: 50%;
                    p:nth-child(1) {
                        @include fontSemiBold(1.25em,1.3em, $vesti-700);
                    }
                    p:nth-child(2) {
                        @include fontNormal(1.25em,1.3em, $vesti-700);
                    }
                    p:nth-child(3) {
                        @include fontSemiBold(1.25em,1.3em, $vesti-700);
                    }
                    p:nth-child(4) {
                        @include fontNormal(1.25em,1.3em, $vesti-700);
                    }
                }
            }
        }
        
    }
}