/*...............
 FONTS
 ................*/
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



/*...............
 GLOBAL CSS
 .................*/
 :root {
  --main-color:#ffffff;
  --color-1: #113374;
  --bg-dark: #0c0c0d;
  --main-to-dark-color:var(--main-color);
  --dark-to-main-color:var(--bg-dark);
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lato';
  outline: none !important;
}