p,
h4,
h6,
h2 {
  margin: 0 !important;
}
input {
  font-size: 16px !important;
}
.negmarg_1 {
  margin-top: -1em;
}
.negmarg_2 {
  margin-top: -2em;
}
.main_txt_1 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 64px;
  color: #000000;
}
.sub_txt_1 {
  font-family: Roboto;
  font-style: normal;
  /*  */
  font-size: 16px;
  line-height: 31px;
  color: #000000;
}

.signup_box {
  max-width: 500px;
}

.form_txt_1 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;

  color: #000000;
}
.form_txt_2 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #000000;
}

.content_field_home {
  max-width: 540px !important;
}

.main_txt_2 {
  font-family: Roboto;
  font-style: normal;
  /*  */
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  margin-top: -1.5em;
  margin-bottom: 2em;
}

.offwhite_bg {
  background: #fafafa;
  border-radius: 51px;
}

.form_element {
  /* z-index: 8000 !important; */
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  padding-left: 2em;

  color: #000000;

  background: #faf9f9;
  border-radius: 20px;
  appearance: none !important;
  border: none;
  height: 70px;
  margin: 1em 0;
}

.primary_btn {
  max-width: 702.82px;
  height: 64px;
  color: white;
  background: #e4ad50;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.primary_btn:disabled {
  background-color: #4f4f4f;
  cursor: not-allowed;
}
.signup_box input {
  z-index: 8000 !important;
}

.button_signin {
  color: white !important;
}

.title_text {
  width: 288px;
  height: 40px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  /* identical to box height, or 40px */
  letter-spacing: 0.2px;

  /* Greyscale / 900 */
  margin: 5%;
  color: #1a202c;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.home_sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 12px;

  width: 202px;
  height: 47px;

  background: #000000;
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.home_sidebar_icon {
 
  color: #E4AD50 !important; 
}

.mini_side_box {
  position: absolute;
  width: 500px;
  height: 900px;
  left: 40px;
  top: 100px;
  background: #ffe8c2;
  border-radius: 15px;
}

.goldbg {
  position: relative;
}

.goldbg img {
  position: absolute;
}

.goldbg-goldotdown {
  bottom: 0;
  left: 0;
}

.goldbg-golddotup {
  top: 0;
  right: 0;
}

.phonetrade {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.carousel-container {
  display: flex;
  overflow: hidden;
  position: relative;

  margin-top: 100%;
  /* height: 150px; */
}

.carousel-item {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
}

.white_title_txt {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 20px;
}

.text_manrope {
  font-family: 'Manrope';
font-style: normal;
font-weight: 1000;
font-size: 14px;
line-height: 150%;

}

.white_subtitle_txt {
  font-size: 18px;
  margin: 20px;
  color: #ffffff;

  opacity: 0.7;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  position: absolute !important;
  bottom: 10px;
  width: 100%;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #fff;
  cursor: pointer;
}

.wallet_balance {
  color: #000000 !important;
}

.wallet_white_details {
position: relative;
width: 500px;
height: 90px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 15.2752px;
}

.dashboard_trade_container {
 
border: 1px solid #E4ECF3;
border-radius: 17.48px;
width: 40%;
height: 80%;
margin-top: 8%;
margin-bottom: 0;
padding-bottom: 0;
}

.dashboard_trade {

padding: 1%;
margin: 6%;
width: 90%;
height: 20%;


background: #FFE8C2;
border-radius: 14.5924px;
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 15.8066px;
line-height: 20px;
/* or 129% */

display: flex;
align-items: center;

/* Brand Color/Primary */

color: #202734;
}


.dashboard_trade img{

  width: 45.16px;
  height: 45.16px;
  left: 17.51px;
  top: 12.65px;
  padding: 2%;
  margin: 0;
  background: #FFFFFF;
  backdrop-filter: blur(150.728px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 5.64523px;
  }


.nairapattern {
  position: absolute;
  top: 0;
  right: 0;
}

.carousel-dot.active {
  background-color: #000;
}

.sigin_text {
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
}

.privacy_text {
  align-items: center;
  color: #718096;
}

.main_font_family {
  font-family: 'Plus Jakarta Sans' !important;
}

.copy_right {
  height: 24px;
  color: #718096;
  text-align: right;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.remember_me {
  align-items: center;
  color: #1a202c;
  margin-left: 4px;
}

.forgot_pass {
  text-align: right !important;
}

.no-margin-left {
  margin-left: 0px !important;
}

.no-margin-right {
  margin-right: 0px !important;
}

.forgot_pass_section {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  gap: 35%;
  display: flex;

  letter-spacing: 0.2px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer_text {
  /* Auto layout */
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #101112;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  gap: 30%;
  margin-top: 40px;
  position: absolute;
  width: 45%;
  height: 24px;
  left: 48px;
  top: 952px;
}


.instruction_text {
  width: 80%;
  height: 42px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* display: flex; */
  align-items: center;
  letter-spacing: 0.2px;
  color: #718096;
}

.text-black a {
  color: #000000 !important;
}




.footer_text_signup {
  gap: 80%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #101112;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin-top: 40px;
  position: absolute;
  width: 80%;
  height: 24px;
  left: 48px;
  top: 952px;
  white-space: nowrap;
}
.signin_box {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  margin-top: 10%;
  margin-bottom: 10%;

  position: relative;
}

.title_subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 288px;
  height: 80px;
  left: 245px;
  top: 228px;
}

.title_txt {
  /* width: 288px; */
  height: 40px;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  /* identical to box height, or 40px */

  text-align: center;
  letter-spacing: 0.2px;

  color: #1a202c;
}

.subtitle_txt {
  /* width: 288px; */
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;
  letter-spacing: 0.3px;

  /* Greyscale/600 */

  color: #718096;
}

.stock_links:link,
.stock_links:hover,
.stock_links {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}
/* iframe {
  pointer-events: none;
} */

.dash {
  margin-bottom: 4%;
  color: #718096;
  flex: 1;
  z-index: 1;
}

body {
  position: relative !important;
  font-size: 16px;
}

@media screen and (max-width: 450px) {
  body {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 767px) {
  input,
  textarea {
    font-size: 16px !important;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
