@import "../../variables.scss";

.delete {
    @include colflexx(center);

    img {
        width: auto;
        margin-bottom: 30px;
    }

    span {
        height: fit-content;
        margin-bottom: 10px;
        text-align: center;
        @include colflexx(center);

        p:nth-child(1){
            margin: 0;
            @include fontBold(1.5em, 1em, $vesti-700);
        }
        p:nth-child(2){
            margin: 0;
            width: 70%;
            @include fontNormal(1.2em, 1.4em, $vesti-902);

            @include breakpoint (mobileonly){
                width: 100%;
            }
        }
    }
}